body {
    margin: 0px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

header>p {
    margin-top: 80px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>* {
    margin-top: 160px;
}

h2 {
    font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 600;
    font-size: 48px;
    margin: 0px;
}

h3 {
    font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 400;
    font-size: 32px;
}

p,
a {
    font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-stretch: normal;
    font-size: 18px;
    text-decoration: none;
    color: #333333;
    margin-bottom: 0px;
}

p>a {
    font-size: 28px;
    color: #f26661;
}

p>a:hover {
    color: #FF8D8A;
}

button {
    height: 60px;
    background-color: #f26661;
    color: #ffffff;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    padding-left: 40px;
    padding-right: 40px;
    /*margin-top: 40px;*/
}

button:hover {
    background-color: #FF8D8A;
    color: #ffffff;
    cursor: pointer;
}



.intro {
    font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 500;
    font-stretch: normal;
    font-size: 32px;
    text-align: center;
}

.grid {
    display: grid;
    /*grid-template-columns: 280px 280px 280px;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    width: 920px;
}

.grid img {
    height: 280px;
}


/*.grid img:hover {
    opacity: 0.5;
    cursor: pointer;
}*/

.wide {
    grid-column: span 2;
}


.profile {
    width: 480px;
}

.text {
    width: 600px;
}

.text a {
    font-size: 18px;
}

.text-short {
    font-size: 28px;
    width: 800px;
    text-align: center;
}

.error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}