@media only screen and (max-width: 1112px) {
    .intro {
        font-size: 24px;
    }

    h2 {
        font-size: 32px;
    }

    .profile {
        margin-top: 80px;
        width: 400px;
    }

    .text-short {
        font-size: 24px;
        width: 80%;
    }

    .text-short a {
        font-size: 24px;
    }
}

@media only screen and (max-width: 980px) {
    .grid {
        grid-template-columns: 1fr;
        width: 500px;
        align-items: center;
        justify-content: center;
    }

    .grid img {
        height: auto;
        width: 100%;
    }

    .wide {
    grid-column: span 1;
    }

    main>* {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 767px) {
    nav {
        flex-direction: column;
        margin-top: 40px;
    }

    h1,
    .menu-item-group {
        margin: 0 !important;
    }

    .menu-item:last-child {
        margin-right: 0;
    }

    .intro {
        font-size: 18px;
        width: 300px;
    }

    br {
        display: none;
    }

    .text {
        width: 80%;
    }

    .text-short {
        font-size: 18px;
    }

    .text-short a {
        font-size: 18px;
    }

    form>input,
    form>textarea {
        width: 280px;
    }

    .profile {
        width: 280px;
    }

    .grid {
        grid-template-columns: 1fr;
        width: 280px;
        align-items: center;
        justify-content: center;
        margin-right: 10%;
        margin-left: 10%;
    }

    .wide {
    width: 280px;
    height: auto;
    }

    .footer {
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .footer-item-group {
        width: 280px;
    }

    .footer-item:first-child {
        margin-bottom: 20px;
    }
}