<!DOCTYPE html>
<html lang="de">

<head>

	{% include html/head.html %}

	<style>
		{% include css/navigation.css %}
		{% include css/main.css %}
		{% include css/form.css %}
		{% include css/footer.css %}
		{% include css/responsive.css %}
	</style>

	<script>(function(t,e,s,o){var n,a,c;t.SMCX=t.SMCX||[],e.getElementById(o)||(n=e.getElementsByTagName(s),a=n[n.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=o,c.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgdw3Gq_2BA8Dq_2BYeVXgxjgzG5Tbj56JXeJY1w8v5n1SwQvb.js"].join(""),a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");</script>

</head>

<body>

	{{content}}

	{% include html/footer.html %}
	
</body>

</html>